{% extends "jaminvLoginBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">{% include 'jaminvLoginBundle::login.css.twig' %}</style>
{% endblock %}

{% set option = 'login' %}
{% set page_social = true %}

{% block fos_user_content %}
    <div class="container-fluid full-height">
        <div class="row full-height">
            <div class="col-lg-8 hidden-md-down">{% block welcome %}{% endblock %}</div>
            <div class="col-lg-4 login-area full-height">
                {% embed 'jaminvLoginBundle:Layout:form_layout.html.twig' %}
                    {% block security_form %}
                        {{ include( 'jaminvLoginBundle:Layout:login_form.html.twig' ) }}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}

