{% extends "LoginBundle::security.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% set alert = 'warning' %}

{% block security_form %}
<div class="alert alert-warning">
{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}
</div>
{% endblock %}