{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset( 'assets/css/login.css' ) }}">
{% endblock %}

{% set security_form_block %}{% block security_form %}{% endblock %}{% endset %}
{% set social = true %}

{% block fos_user_content %}    
    <div class="container-fluid full-height login-area">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8">
                {% embed 'jaminvLoginBundle:Layout:form_layout.html.twig' %}
                    {% block security_form %}{{ security_form_block }}{% endblock %}
                {% endembed %}                        
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
