{% extends "LoginBundle::security.html.twig" %}

{% set header = 'resetting.request.submit'|trans({}, 'FOSUserBundle') %}

{% block security_form %}
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
        <label for="username" class="text-capitalize">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input class="form-control" type="text" id="username" name="username" required="required" />
        </div>
    </div>
    <div>
        <input type="submit" class="btn btn-success btn-block" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
{% endblock %}
