{% use 'form/bootstrap_4_layout.html.twig' with form_widget_simple as base_form_widget_simple %}

{% block form_widget_simple -%}
    {% set type = type|default('text') %}
    {% set attr = {'placeholder': label|trans({}, translation_domain)} %}
    <div class="input-group">
        {% if type == 'email' %}
            <span class="input-group-addon"><i class="fa fa-at"></i></span>
        {% endif %}
        {% if type == 'password' %}
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        {% endif %}
        {% if type == 'text' %}
            <span class="input-group-addon">{{ block( 'icon' ) }}</span>
        {% endif %}
        {{ block('base_form_widget_simple') }}
    </div>
{%- endblock form_widget_simple %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="form-control-feedback">
                <i class="fa fa-exclamation-circle"></i>            
                {{ error.message }}
            </div>
        {%- endfor -%}
    {%- endif %}
{%- endblock form_errors %}